<div class="d-flex flex-column align-items-center">
  <div
    class="d-flex justify-content-between align-items-center menu-certificado w-100"
  >
    <div
      routerLink="new/certificado"
      class="d-flex align-items-center btn-voltar"
    >
      <i class="ph ph-arrow-left"></i>
      <p class="mb-0">Voltar</p>
    </div>
    <app-secondary-button
      (click)="downloadCertificate()"
      phClass="ph ph-download-simple"
      titleButton="Download"
    ></app-secondary-button>
  </div>
  @if (certificate) {
    <div
      #certificateContainer
      class="certificate-container d-flex justify-content-center align-items-center w-100"
    >
      <img
        class="certificate-ribbon"
        src="certificate/Certificate_Ribbon.png"
        alt="medalha"
      />
      <div class="certificate-content">
        <div class="certificate-about">
          <div class="certificate-title">
            <h1>CERTIFICADO DE CONCLUSÃO</h1>
            <h2>Este certificado comprova que</h2>
          </div>
          <div class="certificate-name">
            <h3>{{ certificate.name }}</h3>
          </div>
          <div class="certificate-description">
            <p class="description-title">
              Concluiu com sucesso as seguintes atividades:
            </p>
            <p>{{ certificate.listActivities.join(", ") }}</p>
          </div>
        </div>
        <div class="certificate-footer">
          <div class="certificate-footer-content">
            <p>Emitido em {{ certificate.date }}</p>
          </div>
          <img
            class="certificate-signature"
            src="certificate/Certificate_Signature.svg"
            alt="medalha"
          />
        </div>
      </div>
    </div>
  }
</div>
