.custom-button{
  height: 40px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #f5f5f5;
  background: #1A2856;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:hover{
    opacity: 0.9;
  }
  &:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }

  i {
    font-size: 20px;
  }
}
